

NET "io_spi_IO[3]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[2]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[1]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[0]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[3]" SLEW = SLOW;
NET "io_spi_IO[2]" SLEW = SLOW;
NET "io_spi_IO[1]" SLEW = SLOW;
NET "io_spi_IO[0]" SLEW = SLOW;

NET "io_spi_IO[0]" LOC = A14 | PULLDOWN;
NET "io_spi_IO[1]" LOC = C13 | PULLDOWN;
NET "io_spi_IO[2]" LOC = B12 | PULLDOWN;
NET "io_spi_IO[3]" LOC = C11 | PULLDOWN;

# SPI Control Lines
NET "o_spi_clk"		LOC = B10 	| IOSTANDARD = LVCMOS33;
NET "o_spi_ncs"		LOC = C9 	| IOSTANDARD = LVCMOS33;

NET "arduino_spi_clk_i" LOC = T6 	| IOSTANDARD = LVCMOS33;
NET "arduino_spi_MOSI" LOC = N9 	| IOSTANDARD = LVCMOS33;
NET "arduino_spi_MISO" LOC = M10 	| IOSTANDARD = LVCMOS33;
NET "arduino_spi_nCS" LOC = P12 	| IOSTANDARD = LVCMOS33;

NET "arduino_IO_CTRL" LOC = T5 	| IOSTANDARD = LVCMOS33;
NET "o_IO_CTRL" 		LOC = B8 	| IOSTANDARD = LVCMOS33;

NET "arduino_nWP" LOC = P9 	| IOSTANDARD = LVCMOS33;
NET "arduino_nHOLD" LOC = N8 	| IOSTANDARD = LVCMOS33;
