
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/05/26
NET "i_clk_50MHz" TNM_NET = "i_clk_50MHz";
TIMESPEC TS_i_clk_50MHz = PERIOD "i_clk_50MHz" 20 ns HIGH 50 %;

# PlanAhead Generated IO constraints 

NET "io_spi_IO[3]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[2]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[1]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[0]" IOSTANDARD = LVCMOS33;
NET "io_spi_IO[3]" SLEW = SLOW;
NET "io_spi_IO[2]" SLEW = SLOW;
NET "io_spi_IO[1]" SLEW = SLOW;
NET "io_spi_IO[0]" SLEW = SLOW;

# PlanAhead Generated physical constraints 

NET "io_spi_IO[0]" LOC = A14;
NET "io_spi_IO[1]" LOC = C13;
NET "io_spi_IO[2]" LOC = B12;
NET "io_spi_IO[3]" LOC = C11;

# SPI Control Lines
NET "o_spi_clk"		LOC = B10 	| IOSTANDARD = LVCMOS33;
NET "o_spi_ncs"		LOC = C9 	| IOSTANDARD = LVCMOS33;

# global system clock
NET "i_clk_50MHz" 	LOC = A10 	| IOSTANDARD = LVCMOS33;
# reset signal
NET "i_nreset" 		LOC = R7 	| IOSTANDARD = LVCMOS33;

#NET "o_nreset" 		LOC = B8 	| IOSTANDARD = LVCMOS33;

NET "LA[0]" LOC = B14 | IOSTANDARD = LVCMOS33;
NET "LA[1]" LOC = A13 | IOSTANDARD = LVCMOS33;
NET "LA[2]" LOC = A12 | IOSTANDARD = LVCMOS33;
NET "LA[3]" LOC = A11 | IOSTANDARD = LVCMOS33;

NET "LA[4]" LOC = A9 | IOSTANDARD = LVCMOS33;
NET "LA[5]" LOC = A8 | IOSTANDARD = LVCMOS33;
NET "LA[6]" LOC = A7 | IOSTANDARD = LVCMOS33;
NET "LA[7]" LOC = A6 | IOSTANDARD = LVCMOS33;

NET "LA[8]" LOC = A5 | IOSTANDARD = LVCMOS33;
NET "LA[9]" LOC = A4 | IOSTANDARD = LVCMOS33;
NET "LA[10]" LOC = C10 | IOSTANDARD = LVCMOS33;
NET "LA[11]" LOC = F10 | IOSTANDARD = LVCMOS33;

NET "LA[12]" LOC = D9 | IOSTANDARD = LVCMOS33;
NET "LA[13]" LOC = D8 | IOSTANDARD = LVCMOS33;
NET "LA[14]" LOC = E6 | IOSTANDARD = LVCMOS33;
NET "LA[15]" LOC = C6 | IOSTANDARD = LVCMOS33;

NET "LA[16]" LOC = M6 | IOSTANDARD = LVCMOS33;
NET "LA[17]" LOC = N5 | IOSTANDARD = LVCMOS33;
NET "LA[18]" LOC = N6 | IOSTANDARD = LVCMOS33;

